/*Layout*/

body {
    background-color: lightblue;
}

.row {
    background-color: rgb(0, 174, 255);
    display: flex;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.column {
    background-color: rgb(0, 174, 255);
}

#rowpad {
    margin-bottom: 30px;
}

#noimg {
    margin-left: 20px;
}

/*Text*/

h1 {
    color: black;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    text-align: center;
}

.tagline {
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.summary {
    color: black;
    font-size: 17px;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
}

#gametitle {
    color: black;
    font-size: 40px;
    font-family: Impact, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#gamedesc {
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    padding-right: 20px;
}

#gamelinks {
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
}

.notfinal {
    margin-right: 30px;
}

/*Images*/

.selfie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.gameart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

#sur_art {
    height: 200px;
    width: 200px;
}

#chan_art {
    height: 200px;
    width: 200px;
}